# NOTE! Please use 'git ls-files -i --exclude-standard'
# command after changing this file, to see if there are
# any tracked files which get ignored after the change.

# VisualStudioCode
.vscode/

# below files are generated via CMake
include/rocm_smi/rocm_smi64Config.h
oam/include/oam/oamConfig.h
python_smi_tools/rsmiBindings.py

# Build directory
build/

# CMake cache
.cache/

# Simulated SYSFS - for early development or debug
device/

# Misc
__pycache__
